@model IEnumerable<Plantopia.Models.NewsModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Latest News</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@foreach (var item in Model)
{
    <article style="display: flex; gap: 2em; padding:2em; margin-bottom:2em; background-color:#EFEFEF;">

        <div>
            <a href="images/@Html.DisplayFor(modelItem => item.ImageName)">
                <img style="width: 300px; height: auto; border-radius: 5px;"
                    src="images/@Html.DisplayFor(modelItem => item.ImageName)" alt="">
            </a>
        </div>

        <div>
            <h1>
                @Html.DisplayFor(modelItem => item.Title)
            </h1>
            <p>
                Published: @item.CreatedAt.ToString("yyyy-MM-dd") by @Html.DisplayFor(modelItem => item.CreatedBy)
            <p>
                @Html.DisplayFor(modelItem => item.Content)
            </p>

            <div>

                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </div>
        </div>


    </article>
}
