@model IEnumerable<Plantopia.Models.PlantModel>

@{
    ViewData["Title"] = "Our Plants";
}

<h1 style="margin: 1em 0;">Our Plants</h1>
@if (User.Identity.IsAuthenticated)
{
    <p>
        <a class="button" asp-action="Create">Create New</a>
    </p>
}

@foreach (var item in Model)
{
    <article>

        <div>
            <div>
                <a href="images/@Html.DisplayFor(modelItem => item.ImageName)">
                    <img style="width: 300px; height: auto; border-radius: 10px;"
                        src="images/@Html.DisplayFor(modelItem => item.ImageName)" alt="">
                </a>
            </div>
        </div>

        <div>
            <h1>
                @Html.DisplayFor(modelItem => item.Name)
            </h1>
            <h2>
                @Html.DisplayFor(modelItem => item.Price) €
            </h2>
            <p>
                @Html.DisplayFor(modelItem => item.Description)
            </p>
            <p>
                <strong> Pot size:</strong> @Html.DisplayFor(modelItem => item.PotSize) cm
            </p>
            <p>
                <strong> Plant height: </strong>@Html.DisplayFor(modelItem => item.PlantHight) cm
            </p>
            <p>
                <strong> Amount in store: </strong>@Html.DisplayFor(modelItem => item.Amount) plants
            </p>
            @if (User.Identity.IsAuthenticated)
            {
                <div>
                    <div>
                        <a class="button" asp-action="Edit" asp-route-id="@item.Id">Edit</a>

                        <a class="button" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </div>
                </div>
            }

        </div>
    </article>
}
