@model IEnumerable<Plantopia.Models.PlantModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Our Plants</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@foreach (var item in Model)
{
    <article style="display: flex; gap: 2em; margin-bottom: 20px; padding: 2em; background-color:#EFEFEF;">

        <div>
            <div>
                <a href="images/@Html.DisplayFor(modelItem => item.ImageName)">
                    <img style="width: 300px; height: auto; border-radius: 20px;"
                        src="images/@Html.DisplayFor(modelItem => item.ImageName)" alt="">
                </a>
            </div>
        </div>

        <div>
            <h1>
                @Html.DisplayFor(modelItem => item.Name)
            </h1>
            <h2>
                @Html.DisplayFor(modelItem => item.Price) €
            </h2>
            <p>
                @Html.DisplayFor(modelItem => item.Description)
            </p>
            <p>
                <strong> Pot size:</strong> @Html.DisplayFor(modelItem => item.PotSize) cm
            </p>
            <p>
                <strong> Plant height: </strong>@Html.DisplayFor(modelItem => item.PlantHight) cm
            </p>
            <p>
                <strong> Amount in store: </strong>@Html.DisplayFor(modelItem => item.Amount) plants
            </p>

            <div>
                <div>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </div>
            </div>

        </div>
    </article>
}
